body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u2 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:24px;
  top:107px;
  width:379px;
  height:672px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u4 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:86px;
  top:168px;
  width:253px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:72px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:90px;
  top:351px;
  width:229px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:2px;
}
#u9 {
  position:absolute;
  left:90px;
  top:385px;
  width:274px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:2px;
}
#u11 {
  position:absolute;
  left:90px;
  top:423px;
  width:239px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:2px;
}
#u13 {
  position:absolute;
  left:90px;
  top:461px;
  width:229px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:2px;
}
#u15 {
  position:absolute;
  left:90px;
  top:501px;
  width:229px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:2px;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u18 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:24px;
  top:107px;
  width:379px;
  height:672px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u20 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:44px;
  top:121px;
  width:31px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:55px;
  top:307px;
  width:320px;
  height:184px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u24 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:112px;
  width:61px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u27 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:24px;
  top:107px;
  width:379px;
  height:672px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u29 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:44px;
  top:121px;
  width:31px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:55px;
  top:307px;
  width:320px;
  height:184px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u33 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:112px;
  width:61px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u36 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:24px;
  top:107px;
  width:379px;
  height:672px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u38 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:44px;
  top:121px;
  width:31px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:55px;
  top:307px;
  width:320px;
  height:184px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u42 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:30px;
  top:112px;
  width:61px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u45 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:24px;
  top:107px;
  width:379px;
  height:672px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u47 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:44px;
  top:121px;
  width:31px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:55px;
  top:307px;
  width:320px;
  height:184px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u51 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:30px;
  top:112px;
  width:61px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u54 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:24px;
  top:107px;
  width:379px;
  height:672px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:672px;
}
#u56 {
  position:absolute;
  left:2px;
  top:328px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:44px;
  top:121px;
  width:31px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:55px;
  top:307px;
  width:320px;
  height:184px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:184px;
}
#u60 {
  position:absolute;
  left:2px;
  top:84px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:112px;
  width:61px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
